body {
    overflow-x: hidden;
    background-color: #f0f0f0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.addtocart {
    border: 0px ridge #1c6ea4;
    border-radius: 0px 40px 40px 0px;
}
.cart__icon {
    width: 2rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: white;
}
.header__hero {
    background-image: url(../img/banner-home.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.quantité {
    text-decoration: none;
}
.cart__count {
    background-color: #0dcaf0;
    padding: 2px;
    border-radius: 50%;
    color: white;
}

/* distribution */

a,
button {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    outline: none;
}
